[user]
	name = Albert Zeyer
	email = albzey@gmail.com
[diff]
	renamelimit = 5000
[core]
	ignorecase = false
	editor = vim
	precomposeunicode = true
	excludesfile = /Users/az/.gitignore_global
[github]
	user = albertz
[push]
	#default = simple
	default = current
[url "git@github.com:"]
	insteadOf = https://github.com/

