# Note: This is for my *PUBLIC* Git repo of my home dir.

.viminfo
*.pyc
.DS_Store
*.log
fishd.*
*_history
.histfile*
.history*
fish_history*
.CFUserTextEncoding
.cache
.cint*
.codereview*
.last_codereview*
.cparser_caching
.emscripten*
.emulator*
.esd_auth
.git-credentials
.gitk
.*.tmp
.tmp*

# currently not interesting...
/.atom
/.vim
/.vscode

# other .config options, not interesting
/.config/camlistore
/.config/configstore
/.config/creeperworld*
/.config/CorsixTH
/.config/darktable
/.config/filezilla
/.config/gedit
/.config/gtk*
/.config/htop
/.config/inkscape
/.config/libimobiledevice
/.config/menus
/.config/Nokia
/.config/pulse
/.config/QtProject
/.config/xm1

# other configs, which will probably never become interesting
/.alacritty.yml
/.FreeDoko
/.PyCharm*
/.Trash
/.Verbindungsassistent
/.Xauthority
/.adobe
/.android
/.avidemux
/.bazaar
/.cabal
/.cargo
/.cmake
/.cpan
/.cups
/.designer
/.domterm
/.dropbox
/.dvdcss
/.eclipse
/.elinks
/.fontconfig
/.gem
/.get_iplayer
/.ghc
/.gnupg
/.godot
/.gradle
/.graphterm
/.gstreamer*
/.hgrc
/.hyper*
/.idapro
/.idlerc
/.inkscape*
/.ipython
/.itmstransporter
/.jupyter
/.keras
/.kivy
/.launchd*
/.lazarus
/.leo
/.lesshst
/.lighttable
/.liquidwarrc
/.lldb*
/.local
/.lolcommits
/.m2
/.markdownNavigator
/.matplotlib
/.mcf
/.mono
/.mozilla
/.mpd
/.mplayer
/.multirust
/.mypaint
/.nbprofiler
/.nchsoftware
/.netbeans
/.netrc
/.nexuiz
/.node*
/.npm
/.nx
/.octave*
/.openvpn*
/.oracle*
/.polar
/.pulse
/.putty
/.pylint.d
/.pypirc
/.python*
/.qt
/.redcar
/.retroshare
/.rnd
/.rstudio*
/.rustup
/.sage
/.serverauth*
/.sheepshaver*
/.spyder*
/.ssh
/.subversion*
/.supertuxkart
/.switchGPU
/.swt
/.system-tools.config
/.task*
/.textadept
/.theano*
/.thumbnails
/.tor
/.upterm
/.vagrant*
/.vim-fuf-data
/.vnc
/.wget*
/.wine
/.winpdb_settings.cfg
/.wireshark
/.xnviewmp

# other data
/azwinvm*
/Applications
/alt-roots
/bin
/db
/Desktop
/Documents*
/Downloads
/Dropbox
/go
/Google Drive
/i6
/Library
/mnt
/Movies
/Music
/My Cubby
/My Games
/node_modules
/old_backup*
/nltk_data*
/Pictures
/PlayOnMac*
/Programmierung
/Public
/Qt
/returnn
/Sikuli-scripts
/Sites
/Spiele
/Tresors
/Vagrantfile
/VirtualBox*
/Zotero
node_modules
