#!rnn.py
behavior_version = 12
eval = {
    "class": "MetaDataset",
    "data_map": {
        "audio_features": ("audio", "data"),
        "phonemes": ("audio", "classes"),
    },
    "datasets": {
        "audio": {
            "class": "Task12AXDataset",
            "num_seqs": 10,
        },
    },
    "seq_order_control_dataset": "audio",
}
forward_batch_size = 100
forward_override_hdf_output = True
forward_use_search = True
log_verbosity = 5
max_seqs = 60
output_file = "output.hdf"
target = "dec_output"
task = "forward"
allow_random_model_init = True

from returnn.tf.util.data import (
  Dim, batch_dim, single_step_dim, SpatialDim, FeatureDim, ImplicitDynSizeDim, ImplicitSparseDim)

use_tensorflow = True

phonemes_time_dim = SpatialDim('phonemes_time')
phonemes_indices_dim = FeatureDim('phonemes_indices', 2)
audio_time_dim = SpatialDim('phonemes_time')
audio_feature_dim = FeatureDim('phonemes_indices', 9)

extern_data = {
  'phonemes': {
    'dim_tags': (
      batch_dim,
      phonemes_time_dim
    ),
    'dtype': 'int32',
    'sparse_dim': phonemes_indices_dim,
    'available_for_inference': True
  },
  'audio_features': {
    'dim_tags': (
      batch_dim,
      audio_time_dim,
      audio_feature_dim
    ),
    'available_for_inference': True
  }
}

vae_embedding_dim = FeatureDim('vae_embedding', 2)

network = {
  'output': {
    'class': 'random',
    'shape': (
      batch_dim,
      phonemes_time_dim,
      vae_embedding_dim
    ),
    'distribution': 'normal',
    'shape_deps': "data:phonemes",
    'static': True,
    }
  }
config = {}

locals().update(**config)
